/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  #skills{
width: 85vw;
  max-width: 170rem;
  margin: 50PX auto;
  }
  #skills .section-title{
    margin-bottom: 50px;
  }
  #skills a{
    text-align: center;   
}
#skills a img:hover{
  transition: transform 0.5s ;
  transform:scale(1.1) ; 
}
  #skills .skillsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  
  #skills .skillsContainer{
    display: grid;
   
  }
 
  .imgSkills{
    width: 70%;
    height: 70%;
   
}

  @media screen and (max-width: 1220px) {
    .imgSkills{
        width: 80%;
        height: 80%;
       
    }
  }
  

  