#contact{
    padding: 175px 10%;
}
#contact .subTitle{
    font-size: 4rem;
    margin-bottom: 1rem;
}
#contact .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.contactLeft {
    flex-basis: 35%;
    display: inline-block;
}

.contactRight {
    flex-basis: 60%;
    display: inline-block;
}
.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    
}
.socialIcons{
    margin-top:30px;

}
.socialIcons a{
    text-decoration: none;
    font-size: 30px;
    margin: 15px;
    fill: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.socialIcons a:hover{
    fill: #00BCD4;
    transform: translateY(-5px);
}
.contactRight form{
    width: 100%;
   
}
form input, form textarea{
width: 100% ;
border: none;
background: #3d3c3c ;
outline: none;
padding: 15px;
margin: 15px 0 ;
color: #fff;
font-size: 18px;
border-radius:6px ;
}

@media screen and (max-width: 992px) {
    #contact .container{
        flex-direction: column;
    }
    .contactLeft{
        flex-basis: 100%;
    }
    .contactRight{
        flex-basis: 100%;
    }
    
}

