#intro {
    height: calc(100vh - 4rem);
    width: 85vw;
    max-width: 170rem;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row; /* Default to row for larger screens */
    align-items: center;
    justify-content: space-between;
}

.profilePicture {
    height: 100vh;
    width: auto;
    object-fit: cover;
}

.introContent {
    height: 100vh;
    width: 100vw;
    font-size: 5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.hello {
    font-size: 3rem;
    font-weight: 50;
}

.introName {
    color: #00BCD4;
}

.introPara {
    letter-spacing: 1px;
    font-size: x-large;
    font-weight: 300;
}

.btn {
    font-size: large;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: 1px solid #00BCD4;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #00BCD4;
}

@media screen and (max-width: 768px) {
    #intro {
        flex-direction: column; /* Stack elements vertically on mobile */
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .profilePicture {
        height: 40vh; /* Adjust height for mobile */
        width: 100%;
        margin-bottom: 1rem; /* Add space below the image */
    }

    .introContent {
        height: auto;
        width: 100%;
        font-size: 3rem;
        font-weight: 700;
        text-align: center; /* Center text for mobile */
    }

    .introPara {
        font-size: medium;
    }

    .btn {
        font-size: medium;
        width: auto;
    }
}
